:root {
  font-family: 'Roboto', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  background-color: var(--mantine-color-gray-0);
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}